@page "/prav-sub-category"
@inject NavigationManager NavigationManager
<h3>Sub Categories</h3>

@* @code{
    private int selectedCategoryId;

    protected override void OnInitialized()
    {
        // Extract the category ID from the URL
        selectedCategoryId = int.Parse(NavigationManager.Uri.Split('/').Last());
    }

} *@
<div class="container">
    <div class="row">
        <div class="col-4">
            <InputText @bind-Value="PravSubCategoryValues.Name" placeholder="Enter Sub-Category Name" />
            <label>
                Select your category:
                <select @onchange="OnDropdownChange">
                    <option value="">Select a value</option>
                    @foreach (var pcat in PravCategories)
                    {
                        <option value="@pcat.Id">@pcat.Name</option>
                    }
                </select>
            </label>
           @*  <InputNumber @bind-Value=@selectedCategoryId /> *@
        </div>
        <div class="col-4"></div>
        <div class="col-4">
            <button class="btn btn-primary" @onclick="AddSubCategory">Add Sub-category</button>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @if (PravSubCategories == null || PravSubCategories.Count() == 0)
            {
                <p><em>No Employees Found</em></p>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Category Id</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var employee in PravSubCategories)
                        {
                            <tr>
                                <td>@employee.Id</td>
                                <td>@employee.Name</td>
                                <td>@employee.CategoryId</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
