@page "/sanaddstudent"
@using HandlingDb.Models

<h3>AddStudent</h3>

<div class="container-fluid">

    <EditForm Model=@std OnValidSubmit="AddStudent">
        <div class="card">
            <div class="card-body">
                    <label for="studentId">Student ID:</label>
                    <input id="studentId" @bind="std.Id" />

                    <label for="studentName">Student Name:</label>
                    <input id="studentName" @bind="std.StudentName" />

                    <label for="fatherName">Father's Name:</label>
                    <input id="fatherName" @bind="std.FatherName" />

                    <label for="dob">Date of Birth:</label>
                    <input id="dob" @bind="std.Dob" />

                    <label for="studentClass">Class:</label>
                    <input id="studentClass" @bind="std.Class" />

                    <label for="studentSection">Section:</label>
                    <input id="studentSection" @bind="std.Section" />

                    <label for="bloodGroup">Blood Group:</label>
                    <input id="bloodGroup" @bind="std.BloodGroup" />

                    <label for="studentAddress">Address:</label>
                    <input id="studentAddress" @bind="std.Address" />

                    <button class="btn btn-primary" @onclick="AddStudent">Add Student</button>
            </div>
        </div>
    </EditForm>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StudentName</th>
                <th>FatherName</th>
                <th>Class</th>
                <th>Section</th>
                <th>BloodGroup</th>
                <th>Address</th>
                <th>ClassId</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var setvalue in students ?? new List<SanStudent>())
            {
                <tr>
                    <td>@setvalue.Id</td>
                    <td>@setvalue.StudentName</td>
                    <td>@setvalue.FatherName</td>
                    <td>@setvalue.Class</td>
                    <td>@setvalue.Section</td>
                    <td>@setvalue.BloodGroup</td>
                    <td>@setvalue.Address</td>
                    <td>@setvalue.ClassId</td>
                </tr>
            }
        </tbody>
    </table>

</div>

